@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;
    --background: 178 73% 5%;
    --foreground: 50 63% 90%;
    --card: 179 71% 7%;
    --card-foreground: 50 63% 90%;
    --popover: 179 71% 7%;
    --popover-foreground: 50 63% 90%;
    --primary: 13 100% 50%;
    --primary-foreground: 17 100% 95%;
    --secondary: 178 54% 16%;
    --secondary-foreground: 176 78% 92%;
    --muted: 177 70% 10%;
    --muted-foreground: 176 50% 70%;
    --accent: 57 68% 50%;
    --accent-foreground: 56 69% 7%;
    --destructive: 13 100% 40%;
    --destructive-foreground: 17 100% 95%;
    --border: 177 69% 15%;
    --input: 177 69% 15%;
    --ring: 176 100% 50%;
  }

  .light {
    --background: 50 58% 95%;
    --foreground: 178 73% 6%;
    --card: 0 100% 99%;
    --card-foreground: 178 73% 6%;
    --popover: 0 100% 99%;
    --popover-foreground: 178 73% 6%;
    --primary: 13 100% 50%;
    --primary-foreground: 17 100% 95%;
    --secondary: 176 72% 90%;
    --secondary-foreground: 177 69% 16%;
    --muted: 57 68% 90%;
    --muted-foreground: 57 62% 25%;
    --accent: 176 68% 50%;
    --accent-foreground: 177 69% 10%;
    --destructive: 13 100% 40%;
    --destructive-foreground: 17 100% 95%;
    --border: 56 68% 82%;
    --input: 56 68% 82%;
    --ring: 176 68% 50%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .mono {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .custom-scrollbar::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    background: #061e1d;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    background: #18817c;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:hover {
    background: #ff5f33;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
