<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension
            point="org.eclipse.ui.views">
        <view
                id="com.dsatracker.eclipse.views.dsaPatterns"
                name="DSA Patterns"
                class="com.dsatracker.eclipse.ui.DsaPatternsView"
                category="org.eclipse.ui">
        </view>
    </extension>
</plugin>
